* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
    background-color: rgb(237, 248, 237);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    margin: 20px 150px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.logo img {
    width: 150px;
}

.menu ul {
    display: flex;
}

.menu ul li a {
    margin-left: 25px;
}

.btn {
    padding: 10px 15px;
    color: white;
    background-color: rgb(62, 175, 122);
    border-radius: 20px;
}

img {
    width: 100%;
}

.hero, .e-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.half p{
    margin-bottom: 15px;
    color: rgb(255, 109, 56);

}

.half span{
    color: rgb(62, 175, 122);
}

.half h2{
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 25px;
}

.half .margin{
    color: black;
    margin-bottom: 25px;
}

.inc-card img{
    width: 50px;
}

.inc-card{
    text-align: center;
    background-color: aquamarine;
    padding: 20px ;
    margin-top: 50px;
}
