.box {
  height: 300px;
  width: 300px;
  background: rgb(202, 238, 174);
  background: radial-gradient(
    circle,
    rgba(202, 238, 174, 1) 0%,
    rgba(148, 233, 176, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto;
  transition-timing-function: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-duration: 1s;
}

.box:hover {
  height: 200px;
  width: 200px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  margin: 150px auto;
  border-radius: 100%;
  transform: rotate(360deg);
}

a {
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
